arxiv
datasets
jupyter
nltk
openai
openpyxl
pandas
rouge-score
tiktoken
tqdm
XlsxWriter
haven-ai
peft
trl
tqdm
wandb
accelerate
bitsandbytes
huggingface_hub
ipdb
langchain
spacy
transformers
evaluate
sentencepiece
ninja
jsonlines
# flash-attn
optimum
# autogptq