arxiv
datasets==2.18.0
jupyter
nltk
openai
openpyxl
pandas
rouge-score
tiktoken
tqdm
XlsxWriter
peft
trl
tqdm
wandb
accelerate
bitsandbytes
huggingface_hub
ipdb
langchain
spacy
transformers
evaluate==0.4.0
sentencepiece
ninja
jsonlines
shortuuid
optimum